.pre_book{
    margin: 30px 60px;
    padding: 15px;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
  }
table, th {
    text-align: center;
  }
 
th, td {
    padding: 15px;
  }