{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/homepage.css' %}">
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>HospiHere</title>
</head>
<body>
    <div class="container">
        <div class="header">
            <div class="inner_header">
                <div class="logo">
                    <a href="#" style="text-decoration: none;">
                        <h1>Hospi<span>Here</span></h1>
                    </a>
                </div>
                <div class="hospi_logo">
                    <h1>Prime Hospital</h1>
                    <button type="button" onclick="result.html">
                        <div class="logimg"><i class="fas fa-sign-out-alt" style="font-size: 20px;"></i></div>
                        <h5>Log Out</h5>
                    </button>
                </div>
            </div>
        </div>

        <hr style="margin-top: 0;
        margin-bottom: 1rem;">
    
        {% block content %}
    
        {% endblock %}

    </div>

</body>
</html>