{% extends 'base.html' %}
{% block content %}
{% if user.is_authenticated %}

<div class="hospiProfile">
    <h3>Update Hospital Information</h3>
</div>
{% for c in content%}
<div class="info">
    <div class="colHalf">
        <!-- Branch Section Start -->
            <div class="content">
                <form method="POST" action="branch">
                {% csrf_token %}
                <h4>Branch : {{c.branch}}</h4>
                <div class="inputIcon">
                    <i class="fa fa-edit" type="button" data-toggle="modal" data-target="#branchId" style="margin: 2px 5px; padding: 2px;"></i>
                </div>
            </div>
             
             <div class="modal fade" id="branchId" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                    <h5 style="padding-left: 30px;" class="modal-title" id="exampleModalCenterTitle">
                        Change branch from <span style="color: red;">{{c.branch}} to</span>
                    </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    </div>
                    <div class="modal-body">
                        <input name="branch" type="text" placeholder="Branch" required><br><br>
                        </div>
                        <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-success">CONFIRM</button>
                        </div>
                    </div>
                </div>
            </div>
            </form>
        <!-- Branch Section End -->

        <!-- Mail Section Start -->
        <div class="content">
            <form method="POST" action="email">
            {% csrf_token %}
            <h4>Email : {{c.email}}</h4>
            <div class="inputIcon">
                <i class="fa fa-edit" type="button" data-toggle="modal" data-target="#mailid" style="margin: 2px 5px; padding: 2px;"></i>
            </div>
        </div>
         
         <div class="modal fade" id="mailid" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                <h5 style="padding-left: 30px;" class="modal-title" id="exampleModalCenterTitle">
                    Change email from <span style="color: red;">{{c.email}} to</span>
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                </div>
                <div class="modal-body">
                    <input name="email" type="text" placeholder="Email" required><br><br>
                    </div>
                    <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-success">CONFIRM</button>
                    </div>
                </div>
            </div>
        </div>
        </form>
    <!-- Branch Section End -->

    </div>
    <div class="colHalf">
    <!-- Latitude Section Start -->
    <div class="content">
        <form method="POST" action="latitude">
        {% csrf_token %}
        <h4>Latitude : {{c.location.latitude}}</h4>
        <div class="inputIcon">
            <i class="fa fa-edit" type="button" data-toggle="modal" data-target="#latitudeID" style="margin: 2px 5px; padding: 2px;"></i>
        </div>
    </div>
     
     <div class="modal fade" id="latitudeID" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
            <h5 style="padding-left: 30px;" class="modal-title" id="exampleModalCenterTitle">
                Update Latitude <span style="color: red;">{{c.location.latitude}} to</span>
            </h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body">
                <input name="latitude" type="text" placeholder="Latitude" required><br><br>
                </div>
                <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-success">CONFIRM</button>
                </div>
            </div>
        </div>
    </div>
    </form>
    <!-- Latitude Section END -->
    <div class="content">
        <h4>Longitude : {{c.location.longitude}}</h4>
        <div class="inputIcon">
            <i class="fa fa-edit" type="button" data-toggle="modal" data-target="#latitudeID" style="margin: 2px 5px; padding: 2px;"></i>
        </div>
    </div>
    </div>
</div>
<div class="hospiProfile">
    <h3>Change Password</h3>
</div>
<div class="info">
<div class="col2Half">
    <div class="input-group input-group-icon">
        <input type="password" name="newPassword" placeholder="New Password" required/>
        <div class="input-icon"><i class="fa fa-key"></i></div>
    </div>
  </div>
  <div class="col2Half">
    <div class="input-group input-group-icon">
        <input type="password" name="newPassword2" placeholder="Retype New Password" required/>
        <div class="input-icon"><i class="fa fa-key"></i></div>
    </div>
  </div>
</div>

<div class="hospiProfile">
    <h3>Update Bed Information</h3>
</div>
<form method="POST" action="bed">
    {% csrf_token %}
<div class="info">
<div class="col-forth">
    <div class="content">
        <h4>ICU Bed : {{ c.bed.icu }}</h4>
    </div>
  </div>
  <div class="col-forth">
    <div class="content">
        <h4>Emergency Bed : {{ c.bed.emergency }}</h4>
    </div>
  </div>
  <div class="col-forth">
    <div class="content">
        <div class="content">
            <h4>Ward Bed : {{ c.bed.ward }}</h4>
        </div>
    </div>
  </div>
  <div class="col-forth">
    <div class="content">
        <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#bedInfo">Update</button>
    </div>
  </div>

  <div class="modal fade" id="bedInfo" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
        <div class="modal-header">
        <h5 style="padding-left: 30px;" class="modal-title" id="exampleModalCenterTitle">
            Update Bed Information
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        </div>
        <div class="modal-body">
            <input name="icu" type="number" placeholder="Icu" required><br><br>
            <input name="emergency" type="number" placeholder="Emergency" required><br><br>
            <input name="ward" type="number" placeholder="Ward" required><br><br>
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-success">CONFIRM</button>
            </div>
        </div>
    </div>
</div>
</form>
</div>

<div class="hospiProfile">
    <h3>Update Test and Specialized Area</h3>
</div>
<div class="info">
    <div class="col-half">
        <form method="POST" action="test">
        {% csrf_token %}
        <div style="width: 100%; margin: 5px auto;">
          <h4 style="color: black;text-decoration-line: underline;text-decoration-color: #2086c2;">
              Available Test
           </h4>
          {% for test in c.availableTest %}
            <div class="content">
                <h4>{{test}}</h4>
                <div class="inputIcon">
                    <a href="{% url 'remove' test %}" value = "{{test}}"><i class="fa fa-minus-circle" style="color: red;"></i></a>
                </div> 
            </div>
          {% endfor %}
        </div>
        <input id="btnAdd" type="button" value="Add New Test" onclick="AddTextBox()" style="margin: 3px 0;"/>
        <div id="testInfo" style="margin: 5px 0;">
        </div>
    </form>
    </div>

    <div class="col-half">
        <form method="POST" action="specialized">
        {% csrf_token %}
        <div style="width: 100%; margin: 5px auto;">
          <h4 style="color: black;text-decoration-line: underline;text-decoration-color: #2086c2;">
            Specialized Area
           </h4>
          {% for specialized in c.specialization %}
            <div class="content">
                <h4>{{specialized}}</h4>
                <div class="inputIcon">
                    <a href="{% url 'removeSp' specialized %}" value = "{{specialized}}"><i class="fa fa-minus-circle" style="color: red;"></i></a>
                </div> 
            </div>
          {% endfor %}
        </div>
        <input id="btnAdd" type="button" value="Add Specialist Field" onclick="AddSpecialistBox()" style="margin: 3px 0;"/>
        <div id="specialistInfo" style="margin: 5px 0;">
        </div>
    </form>
    </div>
</div>

{% endfor %}

<script type="text/javascript">
    function GetDynamicTextBox(value){
        return '<input name = "DynamicTextBox" type="text" value = "' + value + '"  placeholder="Available Test" style="margin: 3px 0;"/>'
    }
    function GetSpecialistBox(value){
      return '<input name = "DynamicSpecialistBox" type="text" value = "' + value + '" placeholder="Disease Specialist"  style="margin: 3px 0;" />'
  }
    function AddTextBox() {
        var div = document.createElement('DIV');
        div.innerHTML = GetDynamicTextBox("");
        document.getElementById("testInfo").appendChild(div);
    }

    function AddSpecialistBox() {
      var div = document.createElement('DIV');
      div.innerHTML = GetSpecialistBox("");
      document.getElementById("specialistInfo").appendChild(div);
  }

    function RecreateDynamicTextboxes() {
        var values = eval('<%=Values%>');
        if (values != null) {
            var html = "";
            for (var i = 0; i < values.length; i++) {
                html += "<div>" + GetDynamicTextBox(values[i]) + "</div>";
            }
            document.getElementById("testInfo").innerHTML = html;
        }
    }
    function RecreateDynamicSpeBoxes() {
      var values = eval('<%=Values%>');
      if (values != null) {
          var html = "";
          for (var i = 0; i < values.length; i++) {
              html += "<div>" + GetSpecialistBox(values[i]) + "</div>";
          }
          document.getElementById("specialistInfo").innerHTML = html;
      }
  }
    window.onload = RecreateDynamicTextboxes;
    window.onload = RecreateDynamicSpeBoxes;
    </script>

{% else %}
{% include 'login.html' %}
{% endif %}
{% endblock %}