{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/register.css' %}">
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>HospiHere</title>
</head>
<body style="margin: 30px; padding: 30px;">
    
    <div class="reg_container" style="width: 80%; margin-top: 40px;">
      <h4 style="text-align: center; font-size:xx-large; margin-bottom: 20px; padding: 10px;">Login To Continue</h4>
        <form action="login" method="POST"> 
            {% csrf_token %}
            <div class="row">
              
              <div class="col-half" style="padding: 0 5px;">
                <div class="input-group input-group-icon">
                  <input type="text" name="hospital" placeholder="Hospital Name" required/>
                  <div class="input-icon"><i class="fa fa-user"></i></div>
                </div>
              </div>
              
              <div class="col-half" style="padding: 0 5px;">
                <div class="input-group input-group-icon">
                  <input type="text" name="branch" placeholder="Branch" required/>
                  <div class="input-icon"><i class="fas fa-code-branch"></i></div>
                </div>
              </div>

                <div class="input-group input-group-icon" style="padding: 0 5px; margin: 10px 0;">
                  <input type="password" name="password" placeholder="Password" required/>
                  <div class="input-icon"><i class="fa fa-key"></i></div>
                </div>

            </div>
              <input style="width: 15%; border-radius: 10%;" type="submit">
              <h4 style="text-align: center; margin-top: 20px;">Register <a href="register">Here</a></h4>
              
              <div>
                {% for message in messages %}

                <h3 style="
                margin-top: 15px;
                color:  #E91E63;">
                {{ message }}
                </h3>

                {% endfor %}
              </div>
    </div>   
        </form>
        
    

</body>
</html>