{% extends 'base.html' %}
{% block content %}
{% if user.is_authenticated %}

    <div class="pre_book">
        <h3>Pre Booking List</h3>
        <table class="table table-hover table-borderless">
            <thead class="thead-dark">
                <th scope="col">Mobile</th>
                <th scope="col">Disease</th> 
                <th scope="col">PreBook Date</th>
                <th scope="col">Status</th>
            </thead>
            {% for c in content%}
            <form method="POST"></form>
            <tr>
                <td style="padding-top: 23px;font-size: 20px;">{{c.mobile}}</td>
                <td style="padding-top: 23px;font-size: 20px;">{{c.disease}}</td>
                <td style="padding-top: 23px;font-size: 20px;">{{c.preBook_date}}</td>
                {% if c.status == "Pending" %}
                <td><button type="button" class="btn btn-danger" data-toggle="modal" data-target="#exampleModalCenter">Confirm Booking</button></td>
            

            <!-- Modal -->
            <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                    <h5 style="padding-left: 30px;" class="modal-title" id="exampleModalCenterTitle">Confirming booking for <span style="color: red;">{{c.mobile}}</span></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    </div>
                    <form method="POST" action="{% url 'update' c.disease c.hospital c.mobile c.preBook_date%}">
                        {% csrf_token %}
                        <div class="modal-body">
                        <input name="patient_name" type="text" placeholder="Patient Name" required><br>
                        <input name="patient_address" type="text" placeholder="Patient Address" required>
                        </div>
                        <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-success">CONFIRM</button>
                        </div>
                    </form>
                </div>
                </div>
            </div>
            {% else %}
            <td><a href="#" class="btn btn-success";">Confirmed</a></td>
            {% endif %}
            </tr>
            {% endfor %}
        </table>
    </div>

{% else %}
{% include 'login.html' %}
{% endif %}
{% endblock %}