{% extends 'base.html' %}
{% block content %}  
        
<div class="reg_container" style="width: 80%; margin-top: 40px;">
  <form action="register" method="POST">
    {% csrf_token %}
      <div class="row">
        <h4 style="font-size: 2.5rem;">Account</h4>
        <div class="input-group input-group-icon">
          <input type="text" name="hospital_name" placeholder="Hospital Name" required/>
          <div class="input-icon"><i class="fa fa-user"></i></div>
        </div>

        <div class="input-group input-group-icon">
          <input type="text" name="branch" placeholder="Branch" required/>
          <div class="input-icon"><i class="fas fa-code-branch"></i></div>
        </div>
        <div class="input-group input-group-icon">
          <input type="email" name="email" placeholder="Email Address" required/>
          <div class="input-icon"><i class="fa fa-envelope"></i></div>
        </div>
        <div class="input-group input-group-icon">
          <input type="password" name="password1" placeholder="Password" required/>
          <div class="input-icon"><i class="fa fa-key"></i></div>
        </div>
        <div class="input-group input-group-icon">
          <input type="password" name="password2" placeholder="Confirm Password" required/>
          <div class="input-icon"><i class="fa fa-key"></i></div>
        </div>
        <div style="width: 100%; margin: 5px auto;">
          <h4>Bed Information</h4>
        </div>
        
    <!--    <div class="input-group input-group-icon">
          <input type="text" placeholder="Card Number"/>
          <div class="input-icon"><i class="fa fa-credit-card"></i></div>
        </div>  -->
        <div class="col-half">
          <div class="input-group input-group-icon">
            <input type="text" name="bed_amount" placeholder="Bed Amount" required/>
            <div class="input-icon"><i class="fa fa-bed"></i></div>
          </div>
        </div>
        <div class="col-half">
          <div class="input-group">
            <h5 style="margin: auto;">Bed Type : </h5> 
            <select name="bed_type">
              <option>ICU</option>
              <option>Emergency</option>
              <option>Ward</option>
            </select>
          </div>
        </div>
        <input style="width: 15%; border-radius: 10%;" type="submit">
      </div>
      
      


<!--      <div class="row">
        <div class="col-half">
          <h4>Date of Birth</h4>
          <div class="input-group">
            <div class="col-third">
              <input type="text" placeholder="DD"/>
            </div>
            <div class="col-third">
              <input type="text" placeholder="MM"/>
            </div>
            <div class="col-third">
              <input type="text" placeholder="YYYY"/>
            </div>
          </div>
        </div>
        <div class="col-half">
          <h4>Gender</h4>
          <div class="input-group">
            <input id="gender-male" type="radio" name="gender" value="male"/>
            <label for="gender-male">Male</label>
            <input id="gender-female" type="radio" name="gender" value="female"/>
            <label for="gender-female">Female</label>
          </div>
        </div>
      </div>
      <div class="row">
        <h4>Payment Details</h4>
        <div class="input-group">
          <input id="payment-method-card" type="radio" name="payment-method" value="card" checked="true"/>
          <label for="payment-method-card"><span><i class="fa fa-cc-visa"></i>Credit Card</span></label>
          <input id="payment-method-paypal" type="radio" name="payment-method" value="paypal"/>
          <label for="payment-method-paypal"> <span><i class="fa fa-cc-paypal"></i>Paypal</span></label>
        </div>
        
      </div>
      <div class="row">
        <h4>Terms and Conditions</h4>
        <div class="input-group">
          <input id="terms" type="checkbox"/>
          <label for="terms">I accept the terms and conditions for signing up to this service, and hereby confirm I have read the privacy policy.</label>
        </div>
      </div>
  </div> -->
    </form>


<div>
    {% for message in messages %}
    <h3>{{ message }}</h3>
    {% endfor %}
</div>

{% endblock %}